*{
    margin:0%;
    padding:0%;
}
html.body{
    height: 100%;
    width: 100%;
}

h1{
    font-size:4rem;
    font-weight: 200;
    font-family:cursive;
    height: 6rem;
    color:#e37724;
    padding-left: 3rem;
}
.log1{
    height: 5rem;
    border-radius: 50%;
}
.name{
     background-color:#2c2927;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bar{
     height: 3rem;
    background-color:rgb(4, 17, 2);

}
.navbar{
     margin-left: 60rem;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: larger;
    width: 40%;
}
a{
    margin-top: 1rem;
    color: #e37724;
}
a:hover{
    text-decoration: underline;
    color: bisque;
}
.herosection{
    height:50rem;
    background-color: rgb(63, 16, 207);
    background-image: url("black.jpg");
    background-size: cover;
}
.box1{
    height:35rem;
    width:60%;
    word-wrap: break-word;
}
.box2{
    height:25rem;
     width:60%rem;
    
} 
.box3{
    height:15rem;
     width:60%;
   
}
.box12{
    display: flex;

}
.pler{
    height: 100%;
    width: 100%;
    margin-top: 7rem;
    border-radius: 70%;
     animation: rotater 5s ease-in-out 0s infinite ;
     width: 100%;
}
@keyframes rotater {
    from{transform:rotate(0deg);}
    to{transform: rotate(360deg);}
}

.text{
    margin-top: 14rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    font-family:sans-serif;
    color: rgb(237, 199, 148);
   
}
button{
    background-color: #e37724;
    height:4.5rem;
    width:20rem;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 8rem;
    animation: coloranimate 0.5s ease-in   infinite;
}
@keyframes coloranimate{
from{background-color: #e37724;}
to{background-color: #e7b894;}
    
}

/* ABOUT US */
.about{
    display: flex;
    background-image: url("black.jpg");
    background-size: cover;
}
.box4{
     /* background-color: aqua;   */
    width: 50%;
    height: 50rem;
   
}
.restr{
    height:40% ;
    border-radius: 10%;
    margin-top: 10rem;
    margin-left: 5rem;
    border:5px double orange;
    width: 100%
}
.box5{
    /* background-color: blue; */
    width: 30%;
    height: 50rem;
    margin-left: 10rem;
}
.text2{
    color: #e7b894;
    font-size: x-large;
    text-align: center;
    word-wrap: break-word;
    
   

}

/* NEXT DISHES */

.dishes{
        display: flex;
    background-image: url("black.jpg");
    background-size: cover;
}
.box{
     width: 33%;
    height: 50rem;
    overflow-wrap: break-word;
}
/* .box6{
    background-color: antiquewhite;
}
.box7{
    background-color: rgb(171, 108, 26);
}
.box8{
    background-color: rgb(86, 50, 4);
} */
.yu{
    border-radius: 50%;
    margin-top:5rem;
    margin-left: 4rem;
    border: 5px double orange;
        width: 80%;
}

.heading{
    color: #d1722a;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
  
}
.text3{
    text-align: center;
    font-size: larger;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    color: #e7b894;
}
#but{
    height: 3rem;
    width: 15rem;
    border-radius: 20%;
    
}
.term{
    background-color: #2c2927;
    color: #e37724;
}
