*{
    margin:0.5rem;
    padding:0%;
}
html.body{
    height: 100%;
    width: 100%;
}
body{
    background-color:#cfc4bd;
}
.header{
    text-align: center;
    font-size: 3rem;
    background-color:#567C8D;
}
.nav
{
    background-color:#C8D9E6;
    height: 2rem;
    align-items: end;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}
#a1{
    color: rgb(10, 11, 11);
    font-size: large;
    align-self: auto;
    display: inline;
    text-decoration: none;

}
#a1:hover{
    border: 2px solid #0E1627;
}
#anchor1{
    margin-left: 40%;
}
.css1{
    height: 20rem;
    border-radius: 30%;
    border: 6px groove #0E1627 ;
    margin-left:20%;
}
.cv{
    margin-left:4rem;
    font-size: larger;
    background-color:#567C8D;
    color: bisque;
    display: flex;
    justify-self:center;
    
}
.cv:hover{
    background-color: #0E1627;
}
i{
    font-size: 3rem;
}
i:hover{
    color:white;
    background-color: black;
}
.icons{
    margin-top: 4rem;
    width:30%;
    display: flex;
    justify-content: space-evenly;
}


.photo{
    height: 2rem;
    display: flex;
    justify-content:right;
    /* margin-left: 20%;
     margin-top: 7%;  */
     /* margin: auto; */
     /* padding-top: 3rem; */
}
.mid{
    display: flex;
}
.content{
    height: 50%;
    width:60%;
    margin-top: 10%;
    display: block;
    margin: auto;
    
}
.con{
    justify-self: center;
    font-size:x-large;

}
#about{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color:#0E1627;
    
}
h1.con{
    font-size: xx-large;
    font-weight: bolder;
}
.skill{
     background-color:#0E1627;
     height: 15rem;
     display: flex;
     justify-content:flex;
     text-align:center;
     align-content:center;
     font-size:1.5rem;
     color:antiquewhite;
     word-wrap: break-word;
  
}
.boxa{
    width:30%;
    height:10rem ;
    margin-left: 40px;
     border:  7px double rgb(110, 173, 228);
    
   
}
.boxb{
    width:30%;
    height:10rem ;
    border:  7px double rgb(110, 173, 228);
}
.boxc{
    width:30%;
    height:10rem ;
    margin-right:40px;
    border:  7px double rgb(110, 173, 228);
}
.project{
    height: 30rem;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
   
}
.css{
height: 23rem;
width:30rem;
border-radius: none;
margin-right: 7rem;
border:2px solid black;

}
.boxd{
    border: none;
    margin-left:6rem;
    word-wrap: break-word;
}
.outercontact{
    height: 7rem;
}
.co{
    text-align: center;
}
.contact{
    width:50%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 10rem;
     text-decoration:none;
}
.insta{
    height:3rem;
   
}
.whatsapp{
     height:3rem;
}
.facebook{
    height: 3rem
}
.gmail{
    margin-left: 3rem;
    font-size: large;
}
.copyright{
    height: auto;
    background-color: rgb(26, 25, 25);
    color:#C8D9E6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-top: 4rem;
}
